:root {
  --vp-c-brand-1: #009966;
  --vp-c-brand-2: #009966;
  --vp-c-brand-3: #009966;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #004399 30%,
    #009966
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #00996659
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  padding: 18px;
}



.items {
    display: flex;
    flex-wrap: wrap;
	padding:8px;
	margin: 20px;
	gap:20px;
}

.item {
	background-color: var(--vp-c-bg-soft);
    border-radius: 12px;
}

@media (min-width: 640px) {
    .item.grid{
        width:48%
    }
}

@media (min-width: 768px) {
    .item.grid{
        width:48%
    }
}

@media (min-width: 960px) {
    .item.grid{
        width:23%
    }
}

.container {
    margin: auto;
    width: 100%;
    max-width: 1280px;
    padding: 0 64px;
}

@media (min-width: 640px) {
    .container {
        padding:0 48px
    }
}

@media (min-width: 960px) {
    .container {
        width:100%;
        padding: 0 64px
    }
}
.link-text {
    padding-top: 8px;
}
.link-text-value {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--vp-c-brand-1);
}
.VPFeature.link:hover {
    border-color: var(--vp-c-brand-1);
}

.VPFeature {
    display: block;
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 12px;
    height: 100%;
	padding:10px 20px;
    background-color: var(--vp-c-bg-soft);
    transition: border-color .25s, background-color .25s;
}

.title {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
}

.details{
    flex-grow: 1;
    padding-top: 8px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: var(--vp-c-text-2);
}
