:root {
  --vp-c-brand-1: #009966;
  --vp-c-brand-2: #009966;
  --vp-c-brand-3: #009966;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #004399 30%,
    #009966
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #00996659
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  padding: 18px;
}

.download-card {
  position: relative;
  padding: 20px;
  margin: 15px 0;
  background-color: var(--vp-c-bg-soft);
  border-radius: 12px;
  max-width: 300px;
  min-width:100px;
  overflow: hidden;
}

.download-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-width: 40px 40px 0 0;
  border-style: solid;
  border-color: #3b82f6 transparent transparent transparent;
}

.download-btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 6px 22px;
    background-color: var(--vp-button-brand-active-bg);
    border-color: var(--vp-button-brand-active-border);
    color: var(--vp-button-brand-active-text);
    /* text-decoration:none; */
    border-top-left-radius: 90%;
    border-bottom-right-radius: 12px;
}

.card-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--vp-home-hero-name-background);
}
.card-description {
  margin: 10px 0;
  color: #666;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  gap: 20px; 
  margin:16px;
}
